@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}
header {
    display: flex;
    position: sticky;
    top: 0;
}
.background{
    background: rgba(0, 0, 0, 0.8) url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}

.left{
    width: 30%;
    padding: 1rem 2rem;
}
.brandLogo{
    text-decoration: none;
}
.brand{
    width: 10vw;
    font-weight: bolder;
    font-size: 1.7rem;
    color: rgb(255, 25, 64);
}

.right{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem
}

.right ul{
    list-style: none;
    display: flex;
    padding: 1.2rem 0rem;
    width: 100%;
    justify-content: flex-end;
}

.right ul li{
    padding: 0px 11px;
}

.right ul a{
    text-decoration: none;
    color: white;
}

.home{
    display: flex;
    width: 60%;
    margin: auto;
    padding: 28vh 0vh;
    justify-content: center;
    align-items: center;
    color: white;
}

.home img{
    width: 15vw;
    border-radius: 50%;
    border: .5rem solid white;
}

.home-1{
    margin-left: 1rem;
}

.btn{
    color: white;
    background: none;
    padding: .5rem 1.4rem;
    border: 1px solid white;
    border-radius: 1rem;
    margin: .7rem 0px;
    cursor: pointer;
}

.btn:hover{
    background: rgb(255, 25, 64);
    transition: 300ms ease-in-out;
}

.burger{
    display: none;
}

.lines{
    width: 0.75rem;
    fill: currentColor;
    height: 0.75rem;
    filter: invert(100%);
}


.title{
    display: flex;
    font-weight: 550;
    font-size: xx-large;
    justify-content: center;
    margin: 1.5rem;
}
.projItems{
    display: flex;
    width: 75%;
    margin: auto;
    margin-bottom: 3rem;
    justify-content: center;
}
.box{
    padding: 1rem 1rem;
    box-shadow: 2px 0px 5px grey;
    border-radius: 1rem;
    margin: 0rem 1rem;
}

.skills p{
    margin: 0.5rem 0;
    color: rgb(71, 71, 71);
    font-size: large;
}
.skills p span{
    font-weight: bold;
}

.box h2{
    margin-bottom: .7rem;
    color: rgb(71, 71, 71);
}
.btn-1{
    padding: .7rem 1.5rem;
    background: rgb(255, 25, 64);
    color: white;
    border: none;
    border-radius: 2rem;
    margin: 1rem 0;
    cursor: pointer;
}
.btn-1:hover{
    background: rgb(255, 25, 50);
    
}
.testItems{
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-bottom: 3rem;
    font-size: 1.4rem;
}
.gitimg{
    color: black;
    text-decoration: none;
}
.testimonials{
    margin-bottom: 3rem;
}
.test{
    background-color: rgb(183, 182, 182);
    padding: 1.5rem 2rem;
    margin: .7rem 1rem;
    border-radius: 2rem;
}

.test span{
    margin-bottom: 1rem;
    font-weight: 400;
    color: rgb(71, 71, 71);
    font-size: x-large;
}
.test p{
        margin: 1.5rem 0rem;
}

.bg-1{
    background: rgba(0, 0, 0, 0.8) url(../images/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}
.about{
    margin-bottom: 1.5rem;
}

.about span{
    display: flex;
    font-weight: 550;
    font-size: xx-large;
    justify-content: center;
    padding: 1.5rem;
    color: white;
}
.about p{
    width: 70%;
    padding-top: 2rem;
    padding-bottom: 6rem;
    margin: auto;
    color: white;
}

.footer{
    margin-top: 1.5rem;
}
.footer{
    background: rgb(42, 41, 41);
    text-align: center;
    padding: 1.3rem;
    color: white;
}
.footer p{
    margin-top: .7rem;
}

.footer a{
    color: rgb(255, 25, 64);
    text-decoration: none;
}